* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url('./image/Rick_and_Morty-Run_for_Jewels-vector_graphics-car-rainbows.jpg') no-repeat;
  background-size: cover;
  font-family: sans-serif;
}
.login-wrapper {
    width: 365px;
    margin: 0 auto;
}
.form {
  width: 100%;
  max-width: 380px;
  margin-top: 116px;
  padding: 80px 40px 40px;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #ff652f;
}
.form .input-group {
  position: relative;
  margin-top: 23px;
}
.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: .3s ease-out;
}
.submit-btn {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background: #ff652f;
  font-size: 1rem;
  width:150px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn:hover{
  background: #ff652fc9;
  color:white;
  border-radius:10px;
  font-weight:400;
  transform:translateY(5px);
  box-shadow: rgba(225, 225, 225, 0.25) 0px 50px 100px -20px, 
  rgba(225, 225, 225, 0.3 ) 0px 30px 60px -30px,
   rgba(225, 225, 225, 0.35) 0px -2px 6px 0px;
}
.error{
    position: relative;
    top: 7px;
    left: 147px;
    }
.forgot-pw{
    text-decoration: none;
    color: white;
}
.forgot-pw:hover{
  color:#ffffff9e;
}
.txt{   
margin-top: 6px;
}
.btn{
width: 291px;
margin-top: 33px;
margin-bottom: 17px;
}

@media(max-width:425px){
    .form{
    padding: 71px;
    }
}